.main-body {
  padding: 30px;
  .col-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
      width: 75%;
      h1 {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 7px;
      }
      h3 {
        font-size: 25px;
        margin-bottom: 7px;
      }
      p {
        margin-bottom: 17px;
      }
    }
  }
  .col-2 {
    width: 50%;
    display: flex;
    justify-content: center;

    img {
      height: 450px;
      width: auto;
    }
  }
}
.footer {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  margin: 0 auto;
  align-items: center;
  width: 90%;
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 5px;
  }
}
