.main-form {
  display: flex;
    gap: 10px;
    align-items: center;
    height: 100vh;
  .col-2 {
    
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    .LogoFont {
      font-family: "Ubuntu";
      font-size: 22px;
      color: #545455;
      margin-bottom: 50px;
      margin-left: 150px;
      margin-top: 30px;
    }

    .inputGroup {
      position: relative;
      margin-bottom: 15px;
    }

    .inputStyle {
      background-color: white;
      border: 1px solid #ccc;
      padding: 10px 40px 10px 10px;
      width: 396px;
      height: 44px;
      border-radius: 10px;
    }

    .input-icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .password-toggle {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      font-size: 14px;
    }

    .Sign-in-button {
      width: 396px;
      height: 44px;
      border-radius: 10px;
      font-family: Roboto;
      font-weight: 400;
      font-size: large;
    }

    .sign-up-link,
    .forgot-password {
      color: #007bff;
      text-decoration: none;
    }

    .sign-up-link:hover,
    .forgot-password:hover {
      text-decoration: underline;
    }

    .divider {
      display: flex;
      align-items: center;
      text-align: center;
      margin: 15px 0;
    }

    .divider::before,
    .divider::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid #ccc;
    }

    .divider:not(:empty)::before {
      margin-right: 10px;
    }

    .divider:not(:empty)::after {
      margin-left: 10px;
    }

    .sign-in-options {
      display: flex;
      justify-content: space-around;
    }

    .social-sign-in {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;

      button {
        width: 50px;
        height: 30px;
      }
    }
  }

  .col-1 {
    background-color: #ededed;
    height: 100%;
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: center;

    img {
      height: 450px;
      width: auto;
      background-color: #ededed;
    }
  }
}